  <div class="section help-section">
    <div class="title">
      <%= t('help-section.title') %>
    </div>
    <div class="help us">
      <div class="container">
        <div class="row">
          <div class="help col-sm">
            <div class="logo"></div>
            <div class="title">
              <%= t('help-section.help.first.title') %>
            </div>
            <div class="description">
              <%= t('help-section.help.first.description') %>
            </div>
          </div>
          <div class="help col-sm">
            <div class="logo"></div>
            <div class="title">
              <%= t('help-section.help.second.title') %>
            </div>
            <div class="description">
              <%= t('help-section.help.second.description') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
