  <div class="section how-section">
    <div class="title">
      <%= t('how-section.title') %>
    </div>
    <div class="container">
      <div class="hows row">
        <div class="how col-sm">
          <div class="logo"></div>
          <div class="title">
            <%= t('how-section.how.first.title') %>
          </div>
          <div class="description">
            <%= t('how-section.how.first.description') %>
          </div>
        </div>
        <div class="how col-sm">
          <div class="logo"></div>
          <div class="title">
            <%= t('how-section.how.second.title') %>
          </div>
          <div class="description">
            <%= t('how-section.how.second.description') %>
          </div>
        </div>
        <div class="how col-sm">
          <div class="logo"></div>
          <div class="title">
            <%= t('how-section.how.third.title') %>
          </div>
          <div class="description">
            <%= t('how-section.how.third.description') %>
          </div>
        </div>
      </div>
    </div>
  </div>
