  <div class="section progress-section">
    <div class="title">
      <%= t('progress-section.title') %>
    </div>
    <div class="progresses">
      <div class="our-progress">
        <div class="logo">
          <%= t('progress-section.progress.first.logo') %>
        </div>
        <div class="title">
          <%= t('progress-section.progress.first.title') %>
        </div>
        <div class="description">
          <%= t('progress-section.progress.first.description') %>
        </div>
      </div>
      <div class="our-progress">
        <div class="logo">
          <%= t('progress-section.progress.second.logo') %>
        </div>
        <div class="title">
          <%= t('progress-section.progress.second.title') %>
        </div>
        <div class="description">
          <%= t('progress-section.progress.second.description') %>
        </div>
      </div>
      <div class="our-progress">
        <div class="logo">
          <%= t('progress-section.progress.third.logo') %>
        </div>
        <div class="title">
          <%= t('progress-section.progress.third.title') %>
        </div>
        <div class="description">
          <%= t('progress-section.progress.third.description') %>
        </div>
      </div>
    </div>
  </div>
