<div class="section who-section">
  <div class="title">
    <%= t('who-section.title') %>
  </div>
  <div class="container">
    <div class="whos row">
      <div class="who col-sm">
        <div class="logo"></div>
        <div class="title">
          <%= t('who-section.who.first.title') %>
        </div>
        <div class="description">
          <%= t('who-section.who.first.description') %>
        </div>
      </div>
      <div class="who col-sm">
        <div class="logo"></div>
        <div class="title">
          <%= t('who-section.who.second.title') %>
        </div>
        <div class="description">
          <%= t('who-section.who.second.description') %>
        </div>
      </div>
      <div class="who col-sm">
        <div class="logo"></div>
        <div class="title">
          <%= t('who-section.who.third.title') %>
        </div>
        <div class="description">
          <%= t('who-section.who.third.description') %>
        </div>
      </div>
    </div>
  </div>
</div>
