<div class="home">
  <%= render 'pages/home/banner' %>
  <%= render 'pages/home/about' %>
  <%= render 'pages/home/who' %>
  <%= render 'pages/home/how' %>
  <%# <%= render 'pages/home/help' %>
  <%# <%= render 'pages/home/progress' %>
  <%= render 'pages/home/register' %>
  <%= render 'pages/home/contact' %>
</div>
